
font-family: 'Roboto Condensed', sans-serif;




body {
  background-color: darkcyan;
}

h1 {
  font-size: 90px;
  color: cyan;
}

img {
  width: 50%;
  height:50%;
}

.border1 {
  border: 5px solid red;
}

.border2 {
  border: 5px solid green;
}

.border3 {
  border: 5px solid blue;
}

.main-container {
  border: 5px solid purple;
  height: 100vh;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

nav,main,footer {

 flex: 1;
}

h1 {
  font-family: Roboto Condensed;
  
  }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

/* ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

main {
  flex: 3;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 600px;
}


@media (max-width: 800px) {
  body {
    background-color: orange;
  }
  
  nav {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
  }

  nav ul {
    display: flex;
    flex-direction: column;
    width: auto;
  }

}












/* nav ul:hover::after {
  content: 'wow hello';
  height: 100px;
  width: 60px;
  background-color: red;
  position: absolute;
} */

/* nav {
  height: 80px;
}

main {
  height: calc(100% - 160px);
}

footer {
  height: 80px;
} */





